@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Krona+One&family=Manrope:wght@200..800&family=Norican&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;

}

@theme {
  --color-primary: #5044E5;
}